{%-
set external_urls = {
  'github': 'https://github.com/facebookresearch/multimodelity',
  'github_issues': 'https://github.com/facebookresearch/master/issues',
  'contributing': 'https://github.com/facebookresearch/master/blob/master/CONTRIBUTING.md',
  'api': 'https://multimodelity.sh/api',
  'docs': 'https://multimodelity.sh/docs',
  'previous_pytorch_versions': 'https://multimodelity.sh/previous-versions/',
  'home': 'https://multimodelity.sh/',
  'get_started': 'https://multimodelity.sh/docs',
  'features': 'https://multimodelity.sh/docs/getting_started/features',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf'
}
-%}
{%-
set og = {
  'description': 'API docs for multimodelity. multimodelity is a modular framework powered by PyTorch for multimodal vision and language research from Facebook AI Research'
}
-%}
